{% extends 'blog/base.html' %}
{% block content %}
    <h3>About</h3>

    <br />

    <div class="container">
      <h5>| Who am I?</h5>
    </div>

    <br />
    <p>I don't want to say a lot about myself, because of privacy side, but I definitely interesting in <b>computers</b> and <b>coding</b> itself; And if I would say that I'm a 'hacker', it can be only my subjective opinion. I love <a href="https://torproject.org">Tor</a>, <a href="https://wikileaks.org">Wiki Leaks</a>, <a href="https://electrum.org/">Electrum</a>, <a href="https://nordvpn.com">Nord VPN</a>. <b>I hightly recommend you get rid off</b> Google and Google services (It's better to use <a href="https://duckduckgo.com">DuckDuckGo</a>, <a href="https://protonmail.com">Protonmail</a>), delete all your Facebook, Instagram, WhatsApp accounts (You can use <a href="https://telegram.org">Telegram</a> instead of than evil).
    <br />
    <p>As you noticed, I'm really a little bit P4R4NO1D, but it's justified paranoia.</p>
    <b>So, I give you a chance to decide about who am I</b></p>

    <br />

    <div class="container">
      <h5>| Content</h5>
    </div>

    <br />

    <p>This blog is first of all for those, who cares about privacy. There will be topics, for example, about "How to avoid deanonymization" or "How pay anonymously in the internet"</p>

    <p>I will open special section, which I will devote to social engineering trics (If you don't know what is social engineering, you would definitely like it, I promise)</p>
    <br />

    <div class="container">
      <h5>🏴‍☠️ Mine Manifesto </h5>
    </div>
    <br />
    <i><p class="article-content">Another one got caught today, it&#39;s all over the papers. &quot;Teenager Arrested in Computer Crime Scandal&quot;, &quot;Hacker Arrested after Bank Tampering&quot;...

Damn kids. They&#39;re all alike.

But did you, in your three-piece psychology and 1950&#39;s technobrain, ever take a look behind the eyes of the hacker? Did you ever wonder what made him tick, what forces shaped him, what may have molded him?

I am a hacker, enter my world...

Mine is a world that begins with school... I&#39;m smarter than most of the other kids, this crap they teach us bores me...

Damn underachiever. They&#39;re all alike.

I&#39;m in junior high or high school. I&#39;ve listened to teachers explain for the fifteenth time how to reduce a fraction. I understand it. &quot;No, Ms. Smith, I didn&#39;t show my work. I did it in my head...&quot;

Damn kid. Probably copied it. They&#39;re all alike.

I made a discovery today. I found a computer. Wait a second, this is cool. It does what I want it to. If it makes a mistake, it&#39;s because I screwed it up. Not because it doesn&#39;t like me... Or feels threatened by me.. Or thinks I&#39;m a smart ass.. Or doesn&#39;t like teaching and shouldn&#39;t be here...

Damn kid. All he does is play games. They&#39;re all alike.

And then it happened... a door opened to a world... rushing through the phone line like heroin through an addict&#39;s veins, an electronic pulse is sent out, a refuge from the day-to-day incompetencies is sought... a board is found. &quot;This is it... this is where I belong...&quot; I know everyone here... even if I&#39;ve never met them, never talked to them, may never hear from them again... I know you all...

Damn kid. Tying up the phone line again. They&#39;re all alike...

You bet your ass we&#39;re all alike... we&#39;ve been spoon-fed baby food at school when we hungered for steak... the bits of meat that you did let slip through were pre-chewed and tasteless. We&#39;ve been dominated by sadists, or ignored by the apathetic. The few that had something to teach found us willing pupils, but those few are like drops of water in the desert.

This is our world now... the world of the electron and the switch, the beauty of the baud. We make use of a service already existing without paying for what could be dirt-cheap if it wasn&#39;t run by profiteering gluttons, and you call us criminals. We explore... and you call us criminals. We seek after knowledge... and you call us criminals. We exist without skin color, without nationality, without religious bias... and you call us criminals. You build atomic bombs, you wage wars, you murder, cheat, and lie to us and try to make us believe it&#39;s for our own good, yet we&#39;re the criminals.

Yes, I am a criminal. My crime is that of curiosity. My crime is that of judging people by what they say and think, not what they look like. My crime is that of outsmarting you, something that you will never forgive me for.

I am a hacker, and this is my manifesto. You may stop this individual, but you can&#39;t stop us all... after all, we&#39;re all alike.</p></i>

  <br />

{% endblock content %}
